<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Follow my work</h3>
                        <ul class="alt">
                            <li><a href="https://github.com/edprince">GitHub</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Recommended Top 4</h3>
                        <ul class="alt">
                            <li><a href="#">Travis CI</a></li>
                            <li><a href="#">Trello</a></li>
                            <li><a href="#">Gitter</a></li>
                            <li><a href="#">Foundation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Presence</h2>
                <p>Although I maintain social presence in multiple areas, the
                  best place to keep updated on what I am up to is through
                  Twitter and GitHub.</p>
                <ul class="icons">
                    <li><a href="https://twitter.com/ed_prince1" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/ed.prince.7" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/edprince" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/profile/guided?startTask=ADD_POSITION&force=true&trk=hp-identity-ADD_POSITION" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
