<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Robot Bargain Hunt</h2>
                <p>Weekly progress of bargain hunt project</p>
                <ul class="actions">
                  <li><a href="{{ site.baseurl }}/blog.html" class="button big special">Blog</a></li>
                    <li><a href="#one" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
